*{
    font-family: sans-serif;
}

body{
    background-color: rgb(30, 30, 30);
    margin-top: 5%;
    text-align: center;
}

.Title {
    font-size: 50;
    color: grey
}

.currency {
    text-align: center;
    font-size: 40;
    color: #fff;
}

.currencypersec {
    font-size: 20;
    color: #fff;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.confirmation {
    width: 450px;
    height: 250px;
    background: #6B0504;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-confirmation {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
