*{
    font-family: sans-serif;
}

body{
    background-color: rgb(30, 30, 30);
    margin-top: 5%;
    text-align: center;
}

.Title {
    font-size: 50;
    color: grey
}

.currency {
    text-align: center;
    font-size: 40;
    color: #fff;
}

.currencypersec {
    font-size: 20;
    color: #fff;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}